<div class="header__articles">
  @loop("../components/article-card.html", [
    {
      "id": 1,
      "title": "Тайский массаж",
      "subtitle": "Запускаем дыхание и гибкость через мягкое давление и растяжку",
      "alt": "работник делает тайский массаж",
      "link": {
        "href": "#",
        "text": "Подробнее"
      }
    },
    {
      "id": 2,
      "title": "Балийский массаж",
      "subtitle": "Глубоко прогреваем тело, снимаем мышечные зажимы, выравниваем дыхание",
      "alt": "работник делает балийский массаж",
      "link": {
        "href": "#",
        "text": "Подробнее"
      }
    },
    {
      "id": 3,
      "title": "Косметология лица",
      "subtitle": "Косметология: уходы, инъекции, лифтинг",
      "alt": "работник делает балийский массаж",
      "link": {
        "href": "#",
        "text": "Подробнее"
      }
    },
    {
      "id": 4,
      "title": "Коррекция фигуры",
      "subtitle": "Общий уход с мягкими техниками и вниманием к возрасту",
      "alt": "работник делает балийский массаж",
      "link": {
        "href": "#",
        "text": "Подробнее"
      }
    },
  ])
</div>
