<div class="header__menu">
  <div class="header__menu-col header__menu-col--menu">
    <div class="tabs" data-tabs="header-tabs">
      <ul class="list-reset tabs__nav">
        @loop("./menu-item.html", [
          {
            "text": "SPA & Релакс"
          },
          {
            "text": "Wellness-терапия"
          },
          {
            "text": "Коррекция фигуры"
          },
          {
            "text": "Косметология лица"
          },
          {
            "text": "Beauty-услуги"
          },
          {
            "text": "Дополнительно"
          },
          {
            "text": "О компании"
          },
          {
            "text": "О центре"
          },
        ])
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">Европейские массажи</a></li>
            <li><a href="#">Женские ритуалы</a></li>
            <li><a href="#">Девичники</a></li>
            <li><a href="#">Для двоих</a></li>
            <li><a href="#">Мужской уход</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">RF-лифтинг</a></li>
            <li><a href="#">RF-липолиз</a></li>
            <li><a href="#">Лазерное омоложение</a></li>
            <li><a href="#">Удаление сосудов лазером</a></li>
            <li><a href="#">Лечение акне</a></li>
            <li><a href="#">Микротоковая терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">Уходовые процедуры</a></li>
            <li><a href="#">Инъекционная косметология</a></li>
            <li><a href="#">Аппаратная косметология</a></li>
            <li><a href="#">Нитевой лифтинг</a></li>
            <li><a href="#">Контурная пластика</a></li>
            <li><a href="#">PRP-терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">Европейские массажи</a></li>
            <li><a href="#">Женские ритуалы</a></li>
            <li><a href="#">Девичники</a></li>
            <li><a href="#">Для двоих</a></li>
            <li><a href="#">Мужской уход</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">RF-лифтинг</a></li>
            <li><a href="#">RF-липолиз</a></li>
            <li><a href="#">Лазерное омоложение</a></li>
            <li><a href="#">Удаление сосудов лазером</a></li>
            <li><a href="#">Лечение акне</a></li>
            <li><a href="#">Микротоковая терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">Уходовые процедуры</a></li>
            <li><a href="#">Инъекционная косметология</a></li>
            <li><a href="#">Аппаратная косметология</a></li>
            <li><a href="#">Нитевой лифтинг</a></li>
            <li><a href="#">Контурная пластика</a></li>
            <li><a href="#">PRP-терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">Девичники</a></li>
            <li><a href="#">Для двоих</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li><a href="#">Удаление сосудов лазером</a></li>
            <li><a href="#">Лечение акне</a></li>
            <li><a href="#">Микротоковая терапия</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu-col header__menu-col--collection">
  </div>
  <div class="header__menu-col header__menu-col--contacts"></div>
</div>
