<div class="header__menu" data-menu aria-hidden="true" role="menu">
  <div class="header__menu-col header__menu-col--menu">
    <div class="tabs" data-tabs="header-tabs" data-tabs-init-active="false">
      <ul class="list-reset tabs__nav">
        @loop("./menu-item.html", [
          {
            "text": "SPA & Релакс",
          },
          {
            "text": "Wellness-терапия"
          },
          {
            "text": "Коррекция фигуры"
          },
          {
            "text": "Косметология лица"
          },
          {
            "text": "Beauty-услуги"
          },
          {
            "text": "Дополнительно"
          },
          {
            "text": "О компании"
          },
          {
            "text": "О центре"
          },
        ])
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Европейские массажи</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Женские ритуалы</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Девичники</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Для двоих</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Мужской уход</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">RF-лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">RF-липолиз</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Лазерное омоложение</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Удаление сосудов лазером</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Лечение акне</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Микротоковая терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Уходовые процедуры</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Инъекционная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Аппаратная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Нитевой лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Контурная пластика</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">PRP-терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Европейские массажи</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Женские ритуалы</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Девичники</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Для двоих</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Мужской уход</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">RF-лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">RF-липолиз</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Лазерное омоложение</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Удаление сосудов лазером</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Лечение акне</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Микротоковая терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Уходовые процедуры</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Инъекционная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Аппаратная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Нитевой лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Контурная пластика</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">PRP-терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Девичники</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Для двоих</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Удаление сосудов лазером</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Лечение акне</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link" tabindex="0">Микротоковая терапия</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu-col header__menu-col--articles">
    @include("./articles.html")
  </div>
  <div class="header__menu-col header__menu-col--contacts"></div>
</div>
