<div class="header__menu" role="dialog" aria-modal="true" aria-labelledby="header-modal">
  <div class="header__menu-col header__menu-col--menu">
    <div class="tabs" data-tabs="header-tabs">
      <ul class="list-reset tabs__nav">
        @loop("./menu-item.html", [
          {
            "hidden": true
          },
          {
            "text": "SPA & Релакс"
          },
          {
            "text": "Wellness-терапия"
          },
          {
            "text": "Коррекция фигуры"
          },
          {
            "text": "Косметология лица"
          },
          {
            "text": "Beauty-услуги"
          },
          {
            "text": "Дополнительно"
          },
          {
            "text": "О компании"
          },
          {
            "text": "О центре"
          },
        ])
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel"></div>
        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Европейские массажи</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Женские ритуалы</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Девичники</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Для двоих</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Мужской уход</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">RF-лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">RF-липолиз</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Лазерное омоложение</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Удаление сосудов лазером</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Лечение акне</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Микротоковая терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Уходовые процедуры</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Инъекционная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Аппаратная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Нитевой лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Контурная пластика</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">PRP-терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Европейские массажи</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Женские ритуалы</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Девичники</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Для двоих</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Мужской уход</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">RF-лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">RF-липолиз</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Лазерное омоложение</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Удаление сосудов лазером</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Лечение акне</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Микротоковая терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Уходовые процедуры</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Инъекционная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Аппаратная косметология</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Нитевой лифтинг</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Контурная пластика</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">PRP-терапия</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Девичники</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Для двоих</a></li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="header__menu-links">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Удаление сосудов лазером</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Лечение акне</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Микротоковая терапия</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu-col header__menu-col--articles">
    @include("./articles.html")
  </div>
  <div class="header__menu-col header__menu-col--contacts"></div>
</div>
