<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <button class="btn-reset" data-burger>
        <span>Все услуги</span>
        <svg width="15" height="8" viewBox="0 0 15 8">
          <use xlink:href="img/sprite.svg#mark-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">О центре</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Косметология</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">SPA & Thai</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Велнесс-терапия</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">SPA & Релакс</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Коррекция фигуры</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Журнал</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Сертификаты</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Контакты</a>
    </li>
  </ul>
</nav>
