<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <button class="btn-reset" data-burger tabindex="0">
        <span>Все услуги</span>
        <svg width="15" height="8" viewBox="0 0 15 8">
          <use xlink:href="img/sprite.svg#mark-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">О центре</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">Косметология</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">SPA & Thai</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">Велнесс-терапия</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">SPA & Релакс</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">Коррекция фигуры</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">Журнал</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">Сертификаты</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link" tabindex="0">Контакты</a>
    </li>
  </ul>
</nav>
