.rating {
  @include inline-flex;
  @include rating-light;

  position: relative;
  align-items: center;
  border-radius: 34px;
  padding: 3px 19px 3px 4px;
  min-width: 166px;
  min-height: 48px;
  box-shadow: var(--box-shadow);
  color: currentcolor;
  transition: background-color .2s;
  gap: 8px;

  @include tablet {
    padding: 0;
    min-height: 36px;
    gap: 0;
  }

  &--dark {
    @include rating-dark;
  }

  &__logo {
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-bg-primary);

    @include tablet {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 36px;
      height: 36px;
      min-width: 36px;
      max-width: 36px;
    }
  }

  &__info {
    @include flex-d-column;

    gap: 2px;

    @include tablet {
      flex-direction: row;
      align-items: center;
      padding: 7px 16px 7px 44px;
      gap: 10px;
    }
  }

  &__value {
    @include font-caption-l;
    @include inline-flex-v-center;

    font-weight: 500;
    white-space: nowrap;
    transition: color .2s;
    gap: 4px;

    @include tablet {
      font-family: var(--font-family-tertiary);
      font-size: 15px;
      line-height: 1.334;
    }
  }

  &__title, &__scale {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    max-width: 70px;
  }

  &__scale {
    max-width: 25px;
  }

  &__separator {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    font-weight: 400;
    background-color: currentcolor;
  }

  &__total {
    @include font-caption-s;

    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color .2s;

    @include tablet {
      position: relative;
      padding-left: 8px;
      max-width: 116px;
      font-family: var(--font-family-tertiary);
      font-size: 14px;
      line-height: 1.215;
      letter-spacing: 0;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        bottom: 0;
        display: block;
        margin: auto;
        width: 1px;
        height: 12px;
        background-color: var(--color-text-secondary-20);
      }
    }
  }
}
