@if (!context.is_link) {
  <button
    @if (context.type) {type="@type"}
    @if (context.tabindex) {tabindex="@tabindex"}
    class="btn btn--@variant @if (context.size) {btn--@size} @if (context.class) {@class} btn-reset"
  >
    <span class="btn__text">@text</span>

    @if (context.arrow) {
      <span class="btn__arrow">
        <svg viewBox="0 0 8 8" width="8" height="8">
          <use href="img/sprite.svg#arrow" />
        </svg>
      </span>
    }
  </button>
}

@if (context.is_link) {
  <a
    @if (context.href) {href="@href"}
    @if (context.target) {target="@target"}
    @if (context.tabindex) {tabindex="@tabindex"}
    class="btn btn--@variant @if (context.class) {@class} btn-reset"
  >
    <span class="btn__text">@text</span>

    @if (context.arrow) {
      <span class="btn__arrow">
        <svg viewBox="0 0 8 8" width="8" height="8">
          <use href="img/sprite.svg#arrow" />
        </svg>
      </span>
    }
  </a>
}
