<div class="hero__swiper hero__swiper--main">
  <div class="hero__rating"></div>
  <div id="hero-slider" class="swiper hero__slider">
    <div class="swiper-wrapper">
      @loop("./slide.html", [
        {
          "id": 1,
          "title": "Ангел Concept —<br /> центр премиального ухода и косметологии в <span class='hero__slide-mark'>Ставрополе</span>",
          "title_mobile": "Ангел\n Concept —\n центр премиум-косметологии <span class='hero__slide-mark'>в Ставрополе</span>",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Подробнее об услугах",
          "alt": "массажный кабинет",
          "video": "videos/hero-slide-1.mp4",
          "href": "https://angel-concept.ru/"
        },
        {
          "id": 2,
          "title": "Косметология:\n уходы, инъекции, лифтинг",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Выбрать процедуру",
          "alt": "чистое лицо",
          "href": "https://angel-concept.ru/"
        },
        {
          "id": 3,
          "title": "Коррекция фигуры и силуэта",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Выбрать процедуру",
          "alt": "спортивная женская фигура",
          "href": "https://angel-concept.ru/"
        },
        {
          "id": 4,
          "title": "SPA и европейские массажи",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Выбрать процедуру",
          "alt": "расслабляющая SPA процедура",
          "href": "https://angel-concept.ru/"
        },
        {
          "id": 5,
          "title": "Велнес-программы и флоатация",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Выбрать процедуру",
          "alt": "девушка расслабляется на процедуре флоатации",
          "href": "https://angel-concept.ru/"
        },
        {
          "id": 6,
          "title": "Beauty-услуги:\n волосы, ногти, макияж",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Выбрать процедуру",
          "alt": "мастер делает укладку женщине",
          "href": "https://angel-concept.ru/"
        },
        {
          "id": 7,
          "title": "Тайские и балийские массажи",
          "subtitle": "Место, где вы выбираете заботу о себе как стиль\n жизни. Эстетично, профессионально и легко",
          "button_text": "Выбрать процедуру",
          "alt": "массажистка делает массаж",
          "href": "https://angel-concept.ru/"
        }
      ])
    </div>
  </div>
</div>
