<div
  class="swiper-slide"
  data-image-webp="/img/hero/slide-@id.webp"
  data-image-jpg="/img/hero/slide-@id.jpg"
  data-mobile-image-webp="/img/hero/mobile-slide-@id.webp"
  data-mobile-image-jpg="/img/hero/mobile-slide-@id.jpg"
  data-video="@if (context.video) {@video}"
>
  <div class="hero__slide">
    @if (context.title_mobile) {<p class="hero__slide-title hero__slide-title--mobile">@title_mobile</p>}
    @if (context.h1) {<h1 class="hero__slide-title">@title</h1>}
    @if (!context.h1) {<p class="hero__slide-title">@title</p>}
    <p class="hero__slide-subtitle">@subtitle</p>
    <div class="hero__slide-btn">
      @include("../components/button.html", {
        "is_link": true,
        "type": "button",
        "href": "@href",
        "target": "_blank",
        "text": "@button_text",
        "variant": "primary",
        "arrow": true,
        "class": "btn--default"
      })
    </div>
  </div>
</div>
