<div class="hero__swiper hero__swiper--thumb">
  <div id="hero-thumb-slider" class="swiper hero__thumb-slider">
    <ul class="swiper-wrapper">
      @loop("./thumb-slide.html", [
        {
          "id": 1,
          "title": "Центр премиального ухода и косметологии",
          "alt": "массажный кабинет",
          "class": "swiper-slide-active"
        },
        {
          "id": 2,
          "title": "Косметология: уходы, инъекции, лифтинг",
          "alt": "чистое лицо",
        },
        {
          "id": 3,
          "title": "Коррекция фигуры и силуэта",
          "alt": "спортивная женская фигура"
        },
        {
          "id": 4,
          "title": "SPA и европейские массажи",
          "alt": "расслабляющая SPA процедура"
        },
        {
          "id": 5,
          "title": "Велнес-программы и флоатация",
          "alt": "девушка расслабляется на процедуре флоатации"
        },
        {
          "id": 6,
          "title": "Beauty-услуги: волосы, ногти, макияж",
          "alt": "мастер делает укладку женщине"
        },
        {
          "id": 7,
          "title": "Тайские и балийские массажи",
          "alt": "массажистка делает массаж"
        },
      ])
    </ul>
  </div>
</div>
