<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#000000">
  <title>Тестовое задание - Business-Up</title>
  <link rel="preload" href="fonts/GTEestiProText-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/GTEestiProText-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/KyivTypeSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/KyivTypeSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/KyivTypeSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function(m,e,t,r,i,k,a){
          m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
      })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=104292710', 'ym');

      ym(104292710, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/104292710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</head>
