<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#000000">
  <title>Тестовое задание - Business-Up</title>
  <link rel="preload" href="fonts/GTEestiProText-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/GTEestiProText-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/KyivTypeSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/KyivTypeSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/KyivTypeSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
