.header__nav {
  border-bottom: var(--border-light);
  padding: 0 16px;
  transition: border-color .2s;

  &-list {
    @include flex-all-sb;
  }

  &-item {
    padding: 19.5px 0 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: .693;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: currentcolor;

    [data-burger] {
      letter-spacing: 0.06em;
    }

    > * {
      text-transform: uppercase;
      color: currentcolor;
      transition: color .1s;

      &:hover {
        color: var(--color-primary);

        svg {
          stroke: var(--color-primary);
        }
      }
    }

    button {
      @include inline-flex-v-center;

      gap: 10px;

      &[aria-expanded="true"] {
        svg {
          stroke: var(--color-text-primary);
          transform: rotate(-180deg) translateY(1px);
        }
      }

      svg {
        fill: transparent;
        stroke: currentcolor;
        transition: transform .2s;
      }
    }
  }

  @include tablet {
    display: none;
  }
}
